{% extends "layout.html" %}

{% block title %}CLT Devs Recipes{% endblock %}

{% block body %}
<h1 class="my-4">Recipes</h1>
{% for recipe in recipes %}
<div class="card mb-4">
   <div class="card-body">
      <h2 class="card-title">{{ recipe["title"] }}</h2>
      <p class="card-text">{{ recipe["description"] }}</p>
      <a href="recipe_{{ recipe["filename"] }}.html">Read more...</a>
   </div>
   <div class="card-footer text-muted">
      Added by {{ recipe["author"] }} on {{ recipe["date_added"] }}
   </div>
</div>
{% endfor %}
<p>TODO: pagination html</p>
{% endblock %}
